@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-bg: #1e222d;
  --ui-primary: #3b66c6;
  --ui-secondary: #da262c;
  --ui-dark: rgb(0 0 0 / 0.25);
}

@theme static {
  --color-dark: var(--ui-dark);
  --color-night: var(--ui-bg);
}

@layer base {
  body {
    background-image: url('/img/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left 40%;
    background-position-y: center;
    backdrop-filter: blur(8px);
    overflow: hidden;
  }

  button {
    cursor: pointer;
  }

  [data-reka-popper-content-wrapper] > div {
    @apply bg-dark!;
  }
}
