@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-bg: rgb(30 34 45);
  --ui-text: rgb(255 255 255);
  --ui-primary: rgb(59 102 198);
  --ui-secondary: rgb(218 38 44);
}

@theme static {
  --color-dark: rgb(0 0 0 / 0.25);
  --color-night: var(--ui-bg);
  --color-abyss: rgb(22 25 34);
}

@layer base {
  body {
    background-image: url('/img/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left 40%;
    background-position-y: center;
    backdrop-filter: blur(8px);
    overflow: hidden;
  }

  button {
    cursor: pointer;
  }
}
